/* index.css or global.css */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(2.75381% 0 0);
    --card: lab(100% 0 0);
    --card-foreground: lab(2.75381% 0 0);
    --primary: #6b2f1a;
    --primary-foreground: #fff7f3;
    --secondary: lab(96.52% -0.0000298023 0.0000119209);
    --muted-foreground: lab(48.496% 0 0);
    --accent: #f3e5d8;
    --border: lab(90.952% 0 -0.0000119209);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist", sans-serif;
}

